<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sunrise Connections
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button *ngIf="pageIndex != 0" (click)="backward()">Back</ion-button>
  <h1 *ngIf="pageIndex == 0">Welcome to Sunrise Connections!</h1>
  <h2 *ngIf="pageIndex == 0">Let's get to know your interests</h2>
  <ion-button *ngIf="pageIndex == 0" (click)="forward()">Continue</ion-button>
  <h1 *ngIf="pageIndex == 1">Please select discussion topics you would like us to recommend you:</h1>
  <ion-list *ngIf="pageIndex == 1">
    <ion-checkbox>
      <ion-label>
        Fitness
      </ion-label>
    </ion-checkbox>
    <br><br>
    <ion-checkbox>      
      <ion-label>
        Health
      </ion-label>
    </ion-checkbox>
    <br><br>
    <ion-checkbox>
      <ion-label>
        Food
      </ion-label>
    </ion-checkbox>
  </ion-list>

  <!-- <p *ngIf="pageIndex == 2">page 2 <br><br> Lastly, please select a font size:</p>
  <p *ngIf="pageIndex == 2">Current Font Size:</p>
  <div *ngIf="pageIndex == 2">
    <ion-button>
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <p>aA</p>
    <ion-button>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div> -->

  <h2 *ngIf="pageIndex == 2">All set, you can now enjoy the app!</h2>


  <ion-button *ngIf="(pageIndex != 0) && (pageIndex != 2)" (click)="forward()">Submit</ion-button>
  <ion-button *ngIf="pageIndex != 2" (click)="presentAlert()">Skip</ion-button>

  <ion-button *ngIf="pageIndex == 2" (click)="navigateTo('HomePage')">Finish</ion-button>
  <h3 *ngIf="pageIndex == 0"> page 1 of 3</h3>
  <h3 *ngIf="pageIndex == 1">page 2 of 3</h3>
  <h3 *ngIf="pageIndex == 2">page 3 of 3</h3>
</ion-content>