h1 {
    text-align: center;
    margin-top: 45px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: calc(var(--h1-font-size) * var(--zoom-factor)) !important; // Calculate font size based on zoom factor
}

h2 {
    text-align: center;
    // margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: calc(var(--h2-font-size) * var(--zoom-factor)) !important; // Calculate font size based on zoom factor
}

h3 {
    text-align: center;
    // margin-top: 45px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: calc(var(--h3-font-size) * var(--zoom-factor)) !important; // Calculate font size based on zoom factor
}

ion-button {
    display: flex;
    margin: auto;
    width: 350px;
    font-size: var(--h3-font-size) !important;
    margin-top: 20px;
}

ion-label {
    text-align: center;
    margin-top: 45px;
    font-size: calc(var(--h3-font-size) * var(--zoom-factor)) !important; // Calculate font size based on zoom factor
}

ion-fab {
    
}

ion-checkbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
ion-checkbox ion-label{
    color: black;
}

.quizIcon {
    font-size: 20vh;
    color: black;
    border-radius: 30px;
}

#fitnessIcon {
    background: rgb(85, 152, 224);
}

#healthIcon {
    background: rgb(227, 62, 87);
}

#foodIcon {
    background: rgb(244, 210, 61);
}

#musicIcon {
    // background: rgb(162, 78, 208);
    background: rgb(78, 208, 91);
}

.background-image {
    --background: url('../../assets/splashImages/sunset3.jpg') no-repeat center 45%;
    background-size: auto;
}

.top {
    margin-top: 15vh;
}

.topDiscussion{
    margin-top: 5vh;
}

.bottom {
    margin-top: 30vh;
}

.bottomDiscussion{
    margin-top: 3vh;
}

ion-list {
    background-color: rgba(255, 255, 255, 0.5); /* White background with 50% transparency */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 45vh;
    padding: 10px;
}


// // background color
// ion-content {
//     --background: rgb(251, 240, 211);
// }