<ion-header>
  <ion-toolbar [style]="'--background: var(--ion-color-primary)'">
    <ion-button slot="start" fill="solid" id="logOutButton" (click)="navigateTo('Welcome')">
      <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
      <ion-label>
        Log out
      </ion-label>
    </ion-button>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">

  <h1>Welcome to Sunrise Connections!</h1>

  <ion-card>
    <ion-card-header>
      <div style="text-align: left; margin: 0px;">
        <ion-card-title class="postTitle">DAILY ICEBREAKER</ion-card-title>
        <ion-card-subtitle style="font-size: 28px; text-align: left; text-transform: none;">Favorite Foods</ion-card-subtitle>
      </div>
    </ion-card-header>
    <div class="food-icons-grid">
      <ion-icon class="food-grid-item" name="pizza-outline"></ion-icon>
      <ion-icon class="food-grid-item" name="fast-food-outline"></ion-icon>
      <ion-icon class="food-grid-item" name="ice-cream-outline"></ion-icon>
    </div> 
  
    <ion-button class="cardButton likeButton" fill="solid" [routerLink]="['/responses']">
      Responses</ion-button>
    <ion-button class="cardButton responseButton" fill="solid" [routerLink]="['/responses']">Share Thoughts<ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
  </ion-card>

  <!-- Additional Content -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle style="font-size: 28px; text-align: left; text-transform: none;">Finances</ion-card-subtitle>
      <ion-card-title class="postTitle">Featured Article</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2 class="articleTitle">Dating on a Budget</h2>
      <h3>Age is just a number when it comes to love, and seniors deserve to find happiness and companionship just as much as anyone else...</h3>
      <ion-button class="cardButton" fill="outline" routerLink="/article">Read More</ion-button>
    </ion-card-content>
  </ion-card>

  <!--zoom buttons-->
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="zoomIn()" class="zoomButton">
      <ion-icon name="add" class="zoomIcon"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="zoomOut()" class="zoomButton">
      <ion-icon name="remove-outline" class="zoomIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
