<ion-tabs>


  <!-- De-Comment the below code to add navbar! -->
  
  <ion-tab-bar *ngIf="currentPage != 'None'" slot="bottom" class="navBar">

    <ion-tab-button tab="HomePage" (click)="navigateTo('HomePage')">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Forum" (click)="navigateTo('Forum')">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Forum</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Calendar" (click)="navigateTo('Calendar')">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Resources" (click)="navigateTo('Resources')">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Resources</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
