<ion-tabs>


  <!-- De-Comment the below code to add navbar! -->
  
  <ion-tab-bar *ngIf="currentPage != 'None'" slot="bottom">

    <ion-tab-button tab="HomePage" (click)="navigateTo('HomePage')">
      <ion-icon aria-hidden="true" name="square" *ngIf="currentPage == 'HomePage'"></ion-icon>
      <ion-label>HomePage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Forum" (click)="navigateTo('Forum')">
      <ion-icon aria-hidden="true" name="square" *ngIf="currentPage == 'Forum'"></ion-icon>
      <ion-label>Forum</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Calendar" (click)="navigateTo('Calendar')">
      <ion-icon aria-hidden="true" name="square" *ngIf="currentPage == 'Calendar'"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Resources" (click)="navigateTo('Resources')">
      <ion-icon aria-hidden="true" name="square" *ngIf="currentPage == 'Resources'"></ion-icon>
      <ion-label>Resources</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
