ion-toolbar {
    --background-color: #ff6b65;
    --height: 60px;
}

ion-title {
    font-size: 35px;
}

#cancelButton {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

#submitOpenToast {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.likeButton {
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 20px;
    --border-radius: 30px;
    --background: #febd79;
    // --background-activated: #fa8072;
}
 //change likeButton when clicked using isClicked boolean
.likeButton.clicked {
    --background: #ff6b65;
}

.responseButton {
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 20px;
    --border-radius: 30px;
}

.deleteButton {
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 20px;
    --border-radius: 30px;
    // royal blue
    // --background: rgb(30, 30, 242);
    --background: rgb(64, 64, 64);
}

#newPostButton {
    margin: 0% 10%;
    margin-top: 10px;
    --border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

ion-textarea {
    // try to make buttons not disappear when post gets too big
    --max-length: 100px;
}
  
.clicked-likeButton {
    // red
    // --background: #E62F54 !important; /* Use !important to override Ionic's default styles */
    --background: #ff6b65;
}

ion-toast {
    --text-align: center;
}