div {
    margin-top: 40px;
    margin-bottom: 40px;
}

#cancelButton {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

#submitOpenToast {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.likeButton {
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 20px;
    --background: #febd79;
    // --background-activated: #fa8072;
}
 //change likeButton when clicked using isClicked boolean
.likeButton.clicked {
    --background: #ff6b65;
}

.responseButton {
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 20px;
}

.deleteButton {
    --background: rgb(211, 211, 211) !important;
    // color: white !important;
    --border-width: 0px !important;
}

.cardButton {
    // --background: #ff6b65;
    --background: #febd79;
    --border-style: solid;
    --border-width: 2px;
    --border-color: #fd800b;
    color: black;
    margin-left: 12px;
    margin-bottom: 20px;
    --background-activated: #e49f55;
}

#newPostButton {
    width: 380px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    --background: #febd79;
    --border-style: solid;
    --border-width: 2px;
    --border-color: #fd800b;
    color: black;
    --background-activated: #e49f55;
}

ion-textarea {
    // try to make buttons not disappear when post gets too big
    --max-length: 100px;
}
  
.clicked-likeButton {
    // red
    // --background: #E62F54 !important; /* Use !important to override Ionic's default styles */
    // --background: #904b48;
    --background: #c4fa94;
    --border-color: #87b361;
    // color: white !important;
}

.submittedToast {
    --text-align: center;
}

.postTitle {
    font-size: calc(var(--h1-font-size) * var(--zoom-factor)) !important;
}

.postContent {
    font-size: calc(var(--h2-font-size) * var(--zoom-factor)) !important; // Calculate font size based on zoom factor
}

ion-searchbar input.searchbar-input {
    font-size: calc(var(--content-font-size) * var(--zoom-factor)) !important;
}

.zoomButton {
    --border-style: solid;
    --border-width: 2px;
    // --border-color: #fd800b;
    // --background: #febd79;
    // --background-activated: #e49f55;
    --border-color: #d9443e;
    --background: #ff6b65;
    --background-activated: #c73934;
} 

.zoomIcon {
    // color: black;
    color:white;
}

ion-label {
    font-size: var(--h3-font-size);
}

#backButton {
    margin-top: 15px;
}

ion-card{
    border: 2px solid var(--ion-color-primary);
    border-radius: 10px;
}