<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Forum Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- back button -->
  <ion-button href="/tabs/HomePage">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Back
  </ion-button>
  <!-- search bar -->
  <ion-searchbar show-clear-button="never"></ion-searchbar>
  <!-- add post fab -->
  <ion-button id="newPostButton" size="large">Make new post</ion-button>

  <!--dynamic ion-cards for posts-->
  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-title>{{ post.subject }}</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="resizeable">
      {{ post.content }}
    </ion-card-content>
  
    <ion-button [class.default-likeButton]="!post.likeButtonState" [class.clicked-likeButton]="post.likeButtonState" (click)="toggleButtonState(post)" class="cardButton likeButton" fill="solid">
      Like <ion-icon slot="end" name="thumbs-up-outline"></ion-icon></ion-button>
    <ion-button class="cardButton responseButton" [routerLink]="['/responses', post.id]" fill="solid">See responses</ion-button>
    <ion-button class="cardButton deleteButton" (click)="removePostFromLocalStorage(post.id)" fill="solid">Delete</ion-button>
  </ion-card>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="increaseFontSize()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="increaseFontSize()">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- modal -->
  <ion-modal trigger="newPostButton" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <!-- <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons> -->
          <ion-title>Make new post</ion-title>
          <!-- <ion-buttons slot="end">
            <ion-button (click)="cancel()" [strong]="true">Submit</ion-button>
          </ion-buttons> -->
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Subject</ion-label>
          <ion-input type="text" placeholder="What is the subject" [(ngModel)]="newSubject" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Content</ion-label>
          <ion-textarea [autoGrow]="true" type="text" placeholder="What is on your mind" [(ngModel)]="newContent"></ion-textarea>
        </ion-item>
        <ion-button id="cancelButton" (click)="cancel()">Cancel</ion-button>
        <ion-button id="submitOpenToast" (click)="submitPost(newSubject, newContent)">Submit</ion-button>
        <!-- toast -->
        <ion-toast
          [isOpen]="isToastOpen"
          message="Your post has been submitted!"
          [duration]="5000"
          (didDismiss)="openToast()"
        ></ion-toast>
        <!-- <ion-toast trigger="submitOpenToast" message="Your post has been submitted!" [duration]="5000"></ion-toast> -->
      </ion-content>
    </ng-template>
  </ion-modal>


  
  <app-explore-container name="Forum page"></app-explore-container>
</ion-content>