<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sunrise Connections
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dashboard">
    <img src="../../assets/logo_Transparent.png">
    <p></p>
    <p></p>
    <ion-button (click)="goToPage()">Create Account</ion-button>
    <p></p>
    <ion-button (click)="goToPage()">Login to Account</ion-button>
  </div>
  <!--<ion-button [href]="../../pages/page1.html">Click Me!</ion-button>-->

</ion-content>
