ion-label {
    font-size: var(--h3-font-size);
}

#backButton {
    margin-top: 15px;
    // margin-bottom: 30px;
}

#submit {
    display: flex;
    margin: auto;
    width: 200px;
}

ion-list {
    margin-bottom: 30px;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: calc(var(--h1-font-size) * var(--zoom-factor)) !important;
}

h2 {
    font-size: calc(var(--h2-font-size) * var(--zoom-factor)) !important;
    margin-bottom: 30px;
}