<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sunrise Connections
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-button (click)="navigateBack()">Back
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  
  <h1>Account Creation</h1>

  <h2>Enter Account Info</h2>
  <ion-list>
  
    <ion-item>
      <ion-input placeholder="First Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Last Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Re-Enter Password"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button (click)="navigateSubmit()">Submit</ion-button>

</ion-content>