<ion-header>
  <ion-toolbar [style]="'--background: var(--ion-color-primary)'">
    <ion-title>
      Event Calendar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="backButton" (click)="navigateTo('HomePage')">
    <ion-icon name="arrow-back-outline"></ion-icon>
    <ion-label>
      Back
    </ion-label>
  </ion-button>

  <br>
  <div class="calendarInterfaceGrid">
    <div class="calendarTabs">
      <div class="calendarTabsGrid">
        <button class="tab" (click)="tabSelection('Your Events')">
          <ion-label>
            Your Events
          </ion-label>
          <div class="underline" *ngIf="selectedTab == 'Your Events'"></div>
        </button>
      

        <button class="tab" (click)="tabSelection('Events')">
          <ion-label>
            Events
          </ion-label>
          <div class="underline" *ngIf="selectedTab == 'Events'"></div>
        </button>


        <button class="tab" (click)="tabSelection('Create Event')">
          <ion-label>
            Create Event
          </ion-label>
          <div class="underline" *ngIf="selectedTab == 'Create Event'"></div>
        </button>
      </div>
    </div>
    <!--Starting the Calendar Here:-->
    <!--The ngModel is equal to a variable inside the page.ts's class, and ionchange is pointing to a function within the same \
      class that will display on the console a message with the date selected. 
      This might be helpful since it shows the way the string looks.-->
    <div class="calendar">
      <ion-datetime presentation="date" [(ngModel)]="selectedDate" [(ngModel)]="myDate" (ionChange)="onDateSelectionChange($event)"></ion-datetime>
    </div>
  </div>


  <div class="calendarEvents" *ngIf="selectedTab != 'Create Event'">
    <!--<ion-card *ngFor="let event of selectedEvents">
      <ion-card-header>
        <ion-card-subtitle><b>Event</b></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <b>Time:</b> {{event[0]}}
        <br>
        <b>Description:</b> {{event[1]}}
        <br>
        <b>Location:</b> {{event[2]}}
      </ion-card-content>
    </ion-card>-->
    <div class="events">
      <div class="eventBox" *ngFor="let event of selectedEvents">
        <p><b>Time:</b><br> {{event[0]}}
        <br>
        <b>Description:</b><br> {{event[1]}}
        <br>
        <b>Location:</b><br> {{event[2]}}</p>
        <ion-button (click)="addEvent(event)" *ngIf="selectedTab == 'Events'">+ Add Event</ion-button>
        <ion-button (click)="removeEvent(event)" *ngIf="selectedTab == 'Your Events'">- Remove Event</ion-button>
      </div>
    </div>

  </div>

  <div class ="eventCreation" *ngIf="selectedTab == 'Create Event'">
    <ion-item>
      <ion-input label = "EVENT TITLE: " placeholder = "Enter Text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label = "EVENT TIME:" placeholder = "Enter Time"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea label="EVENT DESCRIPTION: " placeholder="Type Event Description Here"></ion-textarea>
    </ion-item>
  </div>


  <!--zoom buttons-->
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="zoomIn()" class="zoomButton">
      <ion-icon name="add" class="zoomIcon"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="zoomOut()" class="zoomButton">
      <ion-icon name="remove-outline" class="zoomIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  


  <!--<ion-datetime></ion-datetime>-->
  <!--<app-explore-container name="Calendar page"></app-explore-container>-->
</ion-content>