

.calendarInterfaceGrid{
    display: grid;
    grid-template-rows: 20% 30% auto;
    justify-items: center;
    padding: 0px 10px;
}

.calendarTabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calendarTabsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100% auto;
    column-gap: 10%;
    justify-items: center;
    align-content: center;
}

.calendarEvents{
    margin: 0% 0% 0% 2%;
    position: absolute;
    top: 70%;
    left: 8%;
    //transform: translate(-50%, 33%);
    width: 80%;
    height: 30em; /* Adjust as needed */
    border: 0.2em solid var(--ion-color-dark);
    padding: 0% 0% 20% 0%;
    overflow-y: auto;

}


/*.eventCreation{
    //margin: 0% 0% 5% 5%;
    //position: absolute;
    width:90%;
    flex-direction: column;
    align-items: center;
}

  
  .button-container {
    margin-top: 10px;
    align-self: center;
  }*/
.eventCreation {
    //width: 90%;
    //margin: 0% 0% 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button-container {
    margin-top: 10px;
    //width: 100%; 
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.eventBox{
    /*background-color: black;*/
    height: auto;
    width: 80%;
    border: 0.3em solid rgb(255, 107, 101);
    border-radius: 5%;
    margin: 0% 0% 10% 10%;
    padding: 2% 2% 0% 2%;
    box-shadow: 10px 10px rgb(175, 198, 206);
    /*font-size: 0.5em;*/
}

.events{
    position: absolute;
    height: auto;
    width: 70%;
    margin: 0% 0% 0% 18%;
    /*border: 0.3em solid rgb(0, 0, 0);*/
}

.buffer{
    position: absolute;
    height: 2em;
    width: 40%;  
    margin: 35% 0% 0% 31%;
}

.tab{
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: var(--ion-color-dark)
}

.underline{
    width: 90%;
    height: 10%;
    margin: 2% 0% 0% 5%;
    background-color: var(--ion-color-dark);
}


.test{
    position: absolute;
    z-index: 20;
}
  


ion-datetime::part(calendar-day):focus {
    background-color: #ff6a6546;
}


p{
    font-size: 0.8em;
}

ion-title {
    font-size: var(--title-font-size);
}

ion-label {
    font-size: var(--h3-font-size);
}

#backButton {
    margin-top: 15px !important;
    margin-bottom: 30px;
}