

.calendarInterfaceGrid{
    display: grid;
    grid-template-rows: 20% 30% auto;
    justify-items: center;
    padding: 0px 10px 30px 10px;
}

.calendarTabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calendarTabsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100% auto;
    column-gap: 10%;
    justify-items: center;
    align-content: center;
}

.calendarEvents{
    flex: 1; /* Grow to fill remaining space */
    overflow-y: auto;
    border: 0.2em solid var(--ion-color-secondary);
    border-radius: 10px;
    margin-top: 2em; /* Adjust margin as needed */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 30em; /* Adjust as needed */
}

.eventCreation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}


.button-container {
    margin-top: 10px;
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.eventBox{
    height: auto;
    width: 80%;
    border: 0.3em solid rgb(255, 107, 101);
    border-radius: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--ion-color-light);
}

.events{
    height: auto;
    width: 100%;
    justify-items: center;
}

.buffer{
    position: absolute;
    height: 2em;
    width: 40%;  
    margin: 35% 0% 0% 31%;
}

.tab{
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: var(--ion-color-dark)
}

.underline{
    width: 90%;
    height: 10%;
    margin: 2% 0% 0% 5%;
    background-color: var(--ion-color-dark);
}


.test{
    position: absolute;
    z-index: 20;
}
  


ion-datetime::part(calendar-day):focus {
    background-color: #ff6a6546;
}


p{
    font-size: 0.8em;
}

ion-title {
    font-size: var(--title-font-size);
}

ion-label {
    font-size: var(--h3-font-size);
}

#backButton {
    margin: 15px 5px;
}