<ion-header>
  <ion-toolbar [style]="'--background: var(--ion-color-primary)'">
    <ion-title>
      Resources
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="backButton" (click)="navigateTo('HomePage')">
    <ion-icon name="arrow-back-outline"></ion-icon>
    <ion-label>
      Back
    </ion-label>
  </ion-button>

  <ion-accordion-group>
    <ion-accordion value="first" style="padding: 8px 16px">
      <ion-item slot="header" color="--ion-color-light">
        <ion-label style="margin: 0 auto; color: black;" class="resourceTitle">Family</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class = "resourceContent">
        <p>
          In our Family Resources section, we prioritize the significance of fostering strong connections with family members to enhance the overall well-being of the elderly. Effective communication lies at the heart of these relationships, and our resources offer tailored guidance on various communication strategies catering to the unique needs of seniors.
        </p>

        <p>
        <br>1. Using Technology to Stay Connected
        <br>
        <li>
          <a href="https://seniornet.org/">SeniorNet - Connecting Seniors through Technology</a>
        </li>
        <br>SeniorNet provides insights into using technology to bridge the communication gap with distant family members, fostering a sense of closeness.
        </p>

        <p>
        <br>2. Initiating Meaningful Conversations
        <li>
          <a href="https://www.psychologytoday.com/us/blog/the-legacy-life/201903/the-art-conversation-aging-parents">Psychology Today - The Art of Conversation with Aging Parents</a>
        </li>
        <br>Psychology Today offers advice on initiating conversations about personal feelings and concerns, facilitating open and meaningful dialogues.
        </p>

        <p>
          <br>3. Benefits of Video Calls and Social Media
          <li>
            <a href="https://www.agingcare.com/topics/9/technology">AgingCare - Technology Benefits for Seniors</a>
          </li>
          <br> AgingCare explores the benefits of video calls, social media, and other online tools, making communication more accessible and enjoyable.
        </p>

        <p>
          <br>4. Organizing Family Gatherings
          <li>
            <a href="https://www.realsimple.com/work-life/family/family-reunion-planning-guide">Real Simple - How to Plan a Family Reunion</a>
          </li>
          <br> Real Simple provides insights into organizing family gatherings, whether in person or virtually, creating opportunities for shared experiences.
        </p>
    
        <p>
          <br>5. Planning Family Outings and Hobbies
          <li>
            <a href="https://www.aplaceformom.com/blog/fun-activities-for-seniors/">A Place for Mom - Fun Activities for Seniors</a>
          </li>
          <br> A Place for Mom offers ideas for planning family outings and participating in hobbies together, promoting bonding and enjoyment.
        </p>

        <p>
          <br>6. Documenting Family Stories
          <li>
            <a href="https://www.legacystories.org/">Legacy Stories - Preserve Your Family's Stories</a>
          </li>
          <br> Legacy Stories provides a platform for documenting family stories, creating a rich tapestry of shared history and experiences.
        </p>
     
<p>
For those looking to delve deeper into family-related topics, we recommend exploring reputable websites such as AARP (https://www.aarp.org/) and the Family Caregiver Alliance (https://www.caregiver.org/). These platforms offer a wealth of information on family dynamics, communication strategies, and activities that strengthen familial bonds. By providing these additional resources, our Family section becomes a comprehensive guide for the elderly and their families, promoting a sense of community and emotional fulfillment.
        </p>
      </div>
    </ion-accordion>
    <ion-accordion value="second" style="padding: 8px 16px">
      <ion-item slot="header" color="--ion-color-light">
        <ion-label style="margin: 0 auto;" class="resourceTitle">Finances</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="resourceContent">
        <p>
        In our Finances Resources section, we recognize the importance of financial well-being, 
        especially in the context of retirement. We offer a comprehensive guide to managing finances, 
        including valuable information on budgeting and planning for the future. To further support 
        the elderly in making informed financial decisions, we provide a range of tips and resources.
        </p>
        <h4>
        1. Creating a Retirement Budget
        </h4>
        <p>
        <br>
        <li>
          <a href="https://www.aarp.org/money/budgeting-saving/info-2019/retirement-budget-worksheet.html">AARP's Retirement Budget Worksheet</a>
        </li>
        <br>AARP offers a practical worksheet to help individuals plan and create a budget specifically tailored to retirement needs.
        </p>

        <p>
        2. Understanding Investment Options
        <br>
        <li>
          <a href="https://www.investor.gov/introduction-investing/investing-basics/investment-products/seniors">Investor.gov - Seniors' Savings Guide</a>
        </li>
        <br>Investor.gov provides a guide specifically designed for seniors, offering insights into various investment options and considerations.
        </p>

        <p>
        3. Making Informed Financial Decisions
        <br>
        <li>
          <a href="https://www.consumerfinance.gov/consumer-tools/managing-someone-elses-money/">Consumer Financial Protection Bureau - Managing Someone Else's Money</a>
        </li>
        <br>The Consumer Financial Protection Bureau provides resources on managing finances, especially for those who may be assisting elderly family members.
        </p>

        <p>
        4. Government Assistance Programs
        <br>
        <li>
          <a href="https://www.benefits.gov/categories/senior-citizens">Benefits.gov - Senior Citizens</a>
        </li>
        <br>Benefits.gov offers information on various government assistance programs available to senior citizens, covering healthcare, housing, and more.
        </p>

        <p>
        5. Tax Benefits for Seniors
        <br> 
        <li>
          <a href="https://www.irs.gov/credits-deductions/individuals/seniors-retirees">IRS - Tax Benefits for Seniors</a>
        </li>
        <br>The IRS provides details on tax benefits and credits specifically applicable to seniors and retirees.
        </p>

        <p>
        6. Protecting Against Financial Fraud
        <br> 
        <li>
          <a href="https://www.fbi.gov/scams-and-safety/common-scams-and-crimes/seniors">FBI - Common Fraud Schemes Targeting Seniors</a>
        </li>
        <br>The FBI outlines common fraud schemes targeting seniors, offering tips on how to protect against financial scams.
        </p>
      </div>
    </ion-accordion>
    <ion-accordion value="third" style="padding: 8px 16px">
      <ion-item slot="header" color="--ion-color-light">
        <ion-label style="margin: 0 auto;" class="resourceTitle">Health and Wellness</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="resourceContent">
        <p>
          In our Health and Wellness Resources section, we prioritize the essential aspect of maintaining good health for a high quality of life, especially tailored to the specific needs of the elderly. Our resources cover a broad spectrum of topics related to physical, mental, and emotional well-being.
        </p>
        1. Exercise Routines for Seniors:
        <p>
        <li>
          <a href="ttps://www.nia.nih.gov/news/research-and-funding/exercise-and-physical-activity">National Institute on Aging - Exercise and Physical Activity for Older Adults</a>
        </li>
          The National Institute on Aging provides insights into exercise routines suitable for seniors, promoting physical fitness and overall well-being.
        </p>
        2. Dietary Tips for a Healthy Lifestyle:
        <p>
        <li>
          <a href="https://www.health.harvard.edu/blog/healthy-eating-for-seniors-2019121018447">Harvard Health Blog - Healthy Eating for Seniors</a>
        </li>
          Harvard Health Blog offers dietary tips specifically designed for seniors, focusing on nutrition and maintaining a healthy lifestyle. To further support the goal of promoting a healthier lifestyle, our platform provides information on preventive healthcare measures.
        </p>
        3. Preventive Healthcare Measures:
        <p>
        <li>
          <a href="https://www.cdc.gov/prevention/index.html">Centers for Disease Control and Prevention (CDC) - Preventive Services for Adults</a>
        </li>
          The CDC offers a comprehensive guide to preventive healthcare services for adults, empowering seniors to take proactive steps for their well-being.
        </p>
        4. Managing Chronic Conditions:
        <p>
        <li>
          <a href="https://www.mayoclinic.org/healthy-lifestyle">Mayo Clinic - Living with Chronic Conditions</a>
        </li>
          Mayo Clinic provides guidance on managing chronic conditions through lifestyle and healthcare interventions, promoting a better quality of life. Our resources also include insights into accessing healthcare services and understanding medication management.
        </p>
        5. Accessing Healthcare Services:
        <p>
        <li>
          <a href="https://www.medicare.gov/">Medicare.gov - Find and Compare Health Care Providers</a>
        </li>
          Medicare.gov offers tools to find and compare healthcare providers, facilitating easy access to necessary medical services for seniors.
        </p>
        6. Understanding Medication Management:
        <p>
        <li>
          <a href="https://www.ascp.com/">American Society of Consultant Pharmacists - Medication Management Tips for Seniors</a>
        </li>
          The American Society of Consultant Pharmacists provides tips on medication management, ensuring safe and effective use of medications.
        </p>
        <p>
          By offering comprehensive information on health and wellness, our aim is to empower the elderly to make informed choices that contribute to a healthier and more active lifestyle. These resources promote a holistic approach to their overall well-being, addressing physical, mental, and emotional aspects of health.
        </p>    
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="zoomIn()" class="zoomButton">
      <ion-icon name="add" class="zoomIcon"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="zoomOut()" class="zoomButton">
      <ion-icon name="remove-outline" class="zoomIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
