<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sunrise Connections
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-button (click)="navigateTo('Welcome')">Back
  <ion-icon name="arrow-back-outline"></ion-icon>
</ion-button>

<ion-list>
  <ion-item>
    <ion-input placeholder="Enter Username or Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Enter Password"></ion-input>
  </ion-item>
</ion-list>

<ion-button (click)="navigateTo('HomePage')">Login</ion-button>

</ion-content>