<ion-content class='checkin-size' *ngIf="showPart1">
  <ion-grid>
    <ion-row>
      <ion-col class="first-content">
        <!-- Top Content -->
        <h1>Daily Check In</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Middle Content -->
        <h3>How are you today?</h3>
        <ion-row class="middle">
          <ion-col size="4">
            <ion-icon src="assets/mood/sad.svg" [class.mood-selected-sad]="selectedMood === 'sad'" class="icon-size" (click)="selectMood('sad')"></ion-icon>
          </ion-col>
          <ion-col size="4">
            <ion-icon src="assets/mood/neutral.svg" [class.mood-selected-neutral]="selectedMood === 'neutral'" class="icon-size" (click)="selectMood('neutral')"></ion-icon>
          </ion-col>
          <ion-col size="4">
            <ion-icon src="assets/mood/happy.svg" [class.mood-selected-happy]="selectedMood === 'happy'" class="icon-size" (click)="selectMood('happy')"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Bottom Content -->
        <ion-button class="submit-button" [disabled]="!moodTrue" (click)="showPart2()">SUBMIT</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="skip-button" (click)="skipMood()">SKIP</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>