<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Responses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="navigateBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Back
  </ion-button>
  <ion-header collapse="condense">
      <!-- post -->
    <ion-card *ngIf="post">
      <ion-card-header id="postTitle">
        {{ post.subject }}
      </ion-card-header>
      <ion-card-content id="postContent">
        {{ post.content }}
      </ion-card-content>
    </ion-card>
  </ion-header>
  <!-- comment user
  <ion-input [(ngModel)]="newUsername" class="commentUserBox" fill="solid" width="50"  placeholder="Enter your username"></ion-input> -->
  <!--comment textbox-->
  <ion-textarea [(ngModel)]="newContent" class="commentBox" placeholder="What are your thoughts?"></ion-textarea>
  <!--comment button-->
  <ion-button id="newCommentButton" class="commentButton" (click)="submitResponse(newContent)">Comment</ion-button>
  <!--dynamic response-->
  <ion-card *ngFor="let response of responses"> 
    <ion-card-header>
      <ion-card-title>{{ response.username }}</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ response.content }}
    </ion-card-content>
    <ion-button [class.default-likeButton]="!response.likeButtonState" [class.clicked-likeButton]="response.likeButtonState" (click)="toggleButtonState(response)" 
      class="cardButton" fill="solid">Like <ion-icon slot="end" name="thumbs-up-outline"></ion-icon></ion-button>
    <ion-button class="cardButton" fill="solid" (click)="openReply()">Reply</ion-button>
    <ion-button class="deleteButton" (click)="removeResponseFromLocalStorage(post.id, response.id)" fill="solid">Delete</ion-button>
  </ion-card>

  <!--dynamic reply-->
  <ion-textarea *ngIf="OpenReply" class="commentBox replyBox" fill="solid" placeholder="What are your thoughts?" [(ngModel)]="newReply"></ion-textarea>
  <ion-button *ngIf="OpenReply" id="newReplyButton" class="commentButton replyButton" (click)="submitReply(newReply)">Reply</ion-button>
  <!--(click)="submitResponse(newContent)"-->
</ion-content>
