.commentUserBox {
    // color: black;
    border: 2px solid #fd800b;
    border-radius: 10px;
    width: 90%;
    margin: 20px;
    padding: 0px 10px;
    text-indent: 2.5%;
}

.commentBox {
    // color: black;
    border: 2px solid #fd800b;
    border-radius: 10px;
    width: 90%;
    height: 200px;
    margin: 20px;
    padding: 0px 10px;
}

.commentButton {
    --background: #febd79;
    --border-style: solid;
    --border-width: 2px;
    --border-color: #fd800b;
    color: black;
    margin-bottom: 20px;
    bottom: 10px;
    margin-left: 285px;
}

.cardButton {
    --background: #febd79;
    --border-style: solid;
    --border-width: 2px;
    --border-color: #fd800b;
    color: black;
    margin-left: 11px;
    margin-bottom: 20px;
    --background-activated: #e49f55;
}

.deleteButton {
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 20px;
    --border-radius: 30px;
    // royal blue
    // --background: rgb(30, 30, 242);
    --background: rgb(64, 64, 64);
}
  
.clicked-likeButton {
    // red
    // --background: #E62F54 !important; /* Use !important to override Ionic's default styles */
    --background: #c4fa94;
    --border-color: #87b361;

}