<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Responses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button href="/tabs/Forum">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Back
  </ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Responses</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--comment user-->
  <ion-input [(ngModel)]="username" class="commentUserBox" fill="solid" width="50"  placeholder="Enter your username"></ion-input>
  <!--comment textbox-->
  <ion-textarea [(ngModel)]="message" class="commentBox" fill="solid" width="50"  placeholder="What are your thoughts?"></ion-textarea>
  <!--comment button-->
  <ion-button id="newCommentButton" class="commentButton" (click)="createComment()">Comment</ion-button>
  <!--dynamic comment-->
  <ion-card *ngFor="let comment of comments"> 
    <ion-card-header>
      <ion-card-title>{{ comment.username }}</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ comment.message }}
    </ion-card-content>
    <ion-button class="cardButton" fill="solid">Like <ion-icon slot="end" name="thumbs-up-outline"></ion-icon></ion-button>
    <ion-button class="cardButton" fill="solid" (click)="openReply()">Reply</ion-button>
  </ion-card>
  <!--ng-template-->
  <ng-template>
  </ng-template>
</ion-content>
