<ion-content *ngIf="showPart2">
  <ion-content class="checkin-size">
    <img class="first-content" [src]="imageSelected" alt="Random Image">
    <h1 *ngIf="selectedMood === 'sad'">We're sorry to hear that, we hope you feel better!</h1>
    <h1 *ngIf="selectedMood === 'neutral'">Well, we hope you have a great time here!</h1>
    <h1 *ngIf="selectedMood === 'happy'">Glad to hear that! Hope your day stays bright!</h1>
    <h1 *ngIf="selectedMood !== 'sad' && selectedMood !== 'neutral' && selectedMood !== 'happy'">Enjoy your time here!</h1>

    <ion-button class="complete-button" (click)="complete()">COMPLETE</ion-button>
    <ion-button class="skip-button transparent" (click)="complete()">SKIP</ion-button>
  </ion-content>
</ion-content>
