<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sunrise Connections
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Welcome</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <h1>Welcome to Sunrise Connections!</h1>
  <h2>Are you new here?</h2>

  <ion-button id="createAcc" (click)="navigateTo('AccountCreation')">
    <ion-label>
      Create Account
    </ion-label>
  </ion-button>

  <h2><u>OR</u></h2>
  <h2>Are you a returning member?</h2>
  <ion-button id="login" (click)="navigateTo('Login')">
    <ion-label>
      Log In
    </ion-label>
  </ion-button>
  <!--<ion-button (click)="getData()">getData</ion-button>-->
  <!--zoom buttons-->
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="zoomIn()" class="zoomButton">
      <ion-icon name="add" class="zoomIcon"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="zoomOut()" class="zoomButton">
      <ion-icon name="remove-outline" class="zoomIcon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>