ion-title {
    font-size: calc(var(--title-font-size) * var(--zoom-factor)) !important;
}

h1 {
    font-size: calc(var(--h1-font-size) * var(--zoom-factor)) !important;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

h2 {
    font-size: calc(var(--h2-font-size) * var(--zoom-factor)) !important;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

ion-button {
    display: flex;
    margin: auto;
    width: 200px;
}

ion-label {
    font-size: calc(var(--h3-font-size) * var(--zoom-factor)) !important;
}

#createAcc{
    width: 20%;
}